body {
  font-family: 'Press Start 2P', cursive;
}

header {
  padding-bottom: 10px;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  color: #fff;
  border: none;
}

div {
    width: 100%;
    height: 750px;
}

div div {
    width: 1%;
    height: 2%;
    outline: 1px solid #000;
    float: left;
    background: #FFF;
}

.white {
  background: #FFF;
}

.red {
  background: #FF0000;
}

.green {
  background: #008000;
}

.blue {
  background: #0000FF;
}

.yellow {
  background: #FFFF00;
}

.pallette-white {
  background: #FFF;
  height: 2%;
  width: 1%;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid black;
}

.pallette-black {
  background: #000;
  color: #FFF;
  height: 2%;
  width: 1%;
  padding: 10px;
  border: 1px solid black;
}

.pallette-red {
  background: #FF0000;
  height: 2%;
  width: 1%;
  padding: 10px;
  border: 1px solid black;
}

.pallette-green {
  background: #008000;
  height: 2%;
  width: 1%;
  padding: 10px;
  border: 1px solid black;
}

.pallette-yellow {
  background: #FFFF00;
  height: 2%;
  width: 1%;
  padding: 10px;
  border: 1px solid black;
}

.pallette-blue {
  background: #0000FF;
  height: 2%;
  width: 1%;
  padding: 10px;
  border: 1px solid black;
}

.fa-border .fa .fa-paint-brush {
  height: 2.5%;
  width: 1.5%;
}
